@import "../../scss/mixins";
@import "~bootstrap/scss/functions";
@import "../../scss/bootstrap_variables";
@import "~bootstrap/scss/mixins/breakpoints";

.carousel {
	&_intro {
		background-color: $black;
		height: 100%;
		.carousel-inner {
			height: 100%;
			background-color: inherit;
		}
		.carousel-item {
			height: 100%;
			position: relative;
			&.active {
				.carousel-bg {
					transform: scale(1.15, 1.15);
				}
				.carousel-title,
				.carousel-lead {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
			.sliding {
				.carousel-title,
				.carousel-lead {
					transform: translate(0, 100%);
					opacity: 0;
				}
			}
		}
		.carousel-bg {
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-position: center;
			background-size: cover;
			transition: 7s ease-in-out;
			transition-property: transform;
			will-change: transform;
			transform: scale(1, 1);
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba($black, 0.4);
			}
		}
		.carousel-caption {
			padding: 0;
			overflow: hidden;
			bottom: 20%;
			top: 20%;
			z-index: 10;
			h3 {
				@include gateway(font-size, 35px, 55px);
			}
		}
		.carousel-lead,
		.carousel-title {
			transition: 0.4s;
			will-change: transform, opacity;
			transform: translate(0, -100%);
			opacity: 0;
			position: absolute;
			left: 0;
			right: 0;
		}
		.carousel-lead {
			transition-delay: 0.3s;
			top: 50%;
			@include media-breakpoint-only(xs) {
				font-size: 1.25rem;
			}
		}
		.carousel-title {
			bottom: 50%;
		}
		.carousel-indicators {
			bottom: auto;
			top: 1rem;
			margin-bottom: 0;
		}
	}
}

.svg-scroll-down {
	fill: currentColor;
	display: block;
	margin: 5px auto 0;
	width: 30px;
	height: auto;
}

.scroll-down {
	cursor: pointer;
	position: absolute;
	outline: 0;
	border: 0;
	background: none;
	box-shadow: none;
	left: 50%;
	z-index: 100;
	color: #fff;
	bottom: 15px;
	.svg-scroll-down-arrow {
		transform: translate(0, 0);
		transition: 0.3s;
		transition-property: -webkit-transform, transform;
		will-change: -webkit-transform, transform;
	}
	&:hover {
		.svg-scroll-down-arrow {
			transform: translate(0, 25px);
		}
	}
}
